.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    box-shadow: 0 0 10px gray;
    padding-top: 40px;
 
}
.navbar {
    background-color: #032a69 !important;
    color: white !important;
}

.forms {
    /* margin-top: 20px; */
    padding: 30px;
}

.btn{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    background-color: #032a69;
    color: white;
    outline: none;
    border:none;
    border-radius: 5px;
}

.end{
    text-align: center;
}